.custom-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #212529;
}

.custom-hr {
  margin-left: 16px;
  margin-right: 16px;
}

.custom-hr-shadow {
  position: relative;
  height: 3px;
  background: linear-gradient(to right, rgba(0,0,0,0.25), rgba(0,0,0,0));
  margin-left: 16px;
  margin-right: 16px;
}

.custom-hr-shadow::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 6px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  pointer-events: none; 
}

/* Imagen */
.custom-img-shadow {
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.custom-thead th {
  background-color: #343c3f !important;
  color: white !important;
  font-weight: 700;
}

.custom-table {
  background: white;
  border-collapse: separate;
  border-spacing: 0;
}

.custom-table th, .custom-table td {
  vertical-align: middle;
  border: none;
}
.custom-table th {
  font-weight: 700;
  font-size: 1.05rem;
  padding: 10px 14px;
}

.custom-th-num {
  width: 40px;
  text-align: left;
}

.custom-td-num {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: left;
}

.custom-tr {
  position: relative;
}

.custom-tr::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
}

.total-text {
  font-weight: 400;
  font-size: 1rem;
  color: #333;
}

footer p {
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  text-shadow: 1px 2px 2px #bbb;
}
